.blog-list {
  margin-top: 1rem;

  &__filter {
    background-color: #fff;
    padding: 1rem;
  }
}

.table-container {
  width: 100%;
  margin: auto;

  .ant-pagination {
    margin: auto;
  }
  .ant-table {
    flex-grow: 1;
  }
}
