@import "../../../assets/sass/base";
@import "../../../assets/sass/container";

.checkout {
    margin-top: $header-height;
    font-size: 1.6rem;
    .row-wrap{
        gap: 0 2.4rem;
        flex-wrap: nowrap;
          @media(max-width: 768px){
            width: 100%;
            flex-direction: column;
            gap: 2.4rem;
        }
    }
    &__col {
        &--left {
            width: 60%;
              @media(max-width: 768px){
                width: 100%;
            }
        }

        &--right {
            background-color: $light-bg-color;
            padding: 3.2rem 2.4rem!important;  
            height: fit-content;
            position: sticky;
            top: 10rem;     
            width: 40%; 
              @media(max-width: 768px){
                width: 100%;
                top: unset;
                position: relative;
            }
            &-wrap{
                width: 100%;
                .col{
                    width: 100%;
                }
            }
        }
    }

    &__wrap {
        padding: 8rem 0;
    }

    &__title {
        @include h-style("h2");
        line-height: 1.3;
        margin-bottom: 1.6rem;
    }

    &__billing-title {
        @include h-style("h3");
        line-height: 1.3;
    }

    &__countries {

        &-header {
            margin-top: 2rem;
            display: flex;
            width: 50px;
            justify-content: space-between;
            align-items: center;

            &-item {
            
            }
        }

        &-title {
        }

        &-required {
            margin-left: 16rem;
            color: rgba($color: #000000, $alpha: 0.4)
        }

        &-select {
            margin-top: 2rem;
        }

        &-condition-term {
            margin-top: 2px;
            font-size: 1.2rem;
            color: rgba($color: #000000, $alpha: 0.6);
            margin: 1rem 0;
        }
    }

    &__payment {
        &-methods {

        }

        &-header {
            display: flex;
            justify-content: space-between;
        }

        &-title {

        }

        &-secured {
            color: rgba($color: #000000, $alpha: 0.6);
            font-weight: 400;
        }

        &-body {
            margin-top: 2rem;
        }
        &-content{
            display: flex;
            flex-direction: column; 
            gap: 1.2rem 0;
        }
    }
    
    &__summary {
        &-title {
            @include h-style("h3");
        }

        &-row {
            display: flex;
            justify-content: space-between;
        }

        &-col {

        }

        &-price {
            margin-top: 2rem;
            &-label {

            }

            &-text {

            }
        }

        &-total {
            font-weight: bold;
            &-label {

            }

            &-text {

            }
        }

        &-notify {
            margin-top: 4rem;
        }

        &-btn {
            margin-top: 2rem;
            width: 100%;
        }
    }

    &__orders-detail {

        &-title {
            @include h-style("h3");
            margin-top: 4rem;
        }
        &-item {
            margin-top: 2rem;
        }

        .detail-item {
            display: flex;
            &__img {
                width: 4rem;
                height: 4rem;
                object-fit: cover;
            }

            &__name {
                font-weight: bold;
                margin-left: 1rem;
            }

            &__price {
                margin-left: auto;
            }
        }
    }
    
    @media (max-width: map-get($breakpoint, tablet)) {

        padding: 0rem 2rem;

    }

    @media (max-width: map-get($breakpoint, mobile-sm)) {
        padding: 0rem 1rem!important;
    }

    @media (max-width: map-get($breakpoint, mobile)) {
        padding: 0rem 1rem!important;
    }

}