@import '../../../assets/sass/base';
@import '../../../assets/sass/mixins';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0 10px rgba($brand-primary-color, 0.3);
  &__wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $header-height;
    padding: 1rem 0rem;
    font-size: 1.7rem;
    font-family: $text-font;
    color: $brand-primary-color;
  }

  &__logo {
    width: 20%;
  }

  &__nav {
    display: flex;
    align-items: center;
    width: 80%;
    gap: 1.2rem
  }

  &__nav-list {
    @include list-reset;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 50%;
    margin-left: 10rem;
    @media(max-width: 1920px){
      margin-left: 0;
      width: 70%;
   }
  }
&-icon{
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 2.4rem;
  @media(max-width: 1920px){
    width: 30%;
    gap: 1.8rem;
 }
}
  &__nav-item {
    color: inherit;
    margin: 0rem 1.0rem;
    display: flex;
    position: relative;
    z-index: 11;
    // align-items: center;
    &--cart {
    }
    &-user-icon {
    }
  }

  &__nav-link {
    color: inherit;
    text-decoration: none;

    &-icon {
      font-size: 2.2rem;
    }
  }

  &__categories {
    border-top: 1px solid #ccc;
    &-wrap {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &-item {
      margin-right: 2rem;
      font-size: 1.6rem;
      padding: 1.2rem 0rem;
      font-weight: 400;
      text-transform: capitalize;
      a {
        color: inherit;
        text-decoration: none;
        text-transform: capitalize;
      }
    }
  }

  // @media (max-width: map-get($breakpoint, tablet-lg)) {
  //   &__nav {
  //     &-list {
  //       display: none;
  //     }
  //   }

  //   &__wrapper {
  //     width: 100%;
  //   }
  // }

  // @media (max-width: map-get($breakpoint, tablet)) {
  //   // Adjust styles for tablet

  //   // width: 768px;

  //   &__wrapper {
  //     width: 100%;
  //     padding: 0rem 2rem;
  //   }

  //   &__nav {
  //     &-list {
  //       display: none;
  //     }

  //     &-item {
  //       &--cart {
  //       }
  //     }
  //   }
  // }

  // @media (max-width: map-get($breakpoint, mobile-sm)) {
  //   // Adjust styles for mobile
  //   width: 375px;
  //   &__wrapper {
  //     width: 375px;
  //   }

  //   &__search {
  //     display: none;
  //   }

  //   &__logo {
  //     margin-left: 2rem;
  //   }

  //   &__wrapper {
  //     justify-content: unset;
  //   }

  //   &__nav {
  //     &-item {
  //       &--user {
  //         margin-left: 3rem;
  //       }
  //     }
  //   }

  //   &__auth {
  //     display: none;
  //   }
  // }
}
.header__search{
  // display: none;
  @media(max-width: 1920px){
    display: none;
 }
}
.btn-sm{
  padding: 1.2rem 2rem;
  white-space: nowrap;
}
.header__search-mobile{
  display: none;
  @media(max-width: 1920px){
    display: block;
 }
 .icon-search{
  position: relative;
  width: 2.2rem;
  height: 2.2rem;
  z-index: 1;

  &::before{
    display: block;
    position: absolute;
    content: '';
    width: 8rem;
    height: 4rem;
    background: #fff;
    top: 50%;
    right: 0;
    z-index: -1;
  }
  svg{
    width: 100%;
    height: 100%;
    color: #1f1f1f;
  }
 }
 .icon-search:hover .input{
  display: block;
 }
 .input{
  position: absolute;
  top: 180%;
  right: 0;
  background: aliceblue;
  padding: 1.2rem;
  padding-left: 1.8rem;
  z-index: 22;
  border-radius: 3.6rem;
  width: 30rem;
  display: none;
  &::placeholder{
    font-size: 12px;
  }
@media (max-width: 576px) {
  right: 50%;
  transform: translateX(30%);
  
}
 }
}


.menubtn {
  display: none;
  font-size: 35px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.closebtn {
  display: none;
  font-size: 35px;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}
.header__auth-mobile{
  display: none;
}
.header__logo-mobile{
  display: none;
}
// .overlay{
//   position: absolute;
//   width: 100vw;
//   height: 100vh;
//   background: rgba(0, 0, 0, 0.12);
//   top: 0;
//   left: 0;
// }
@media (max-width: 1200px) {
  #menu.block .overlay{
    display: block;
  }
  #menu.header__nav-list {
    display: none;
  }
  .header__auth{
    display: none;
  }
  .header__logo{
    width: auto;
  }
  .header__logo-mobile{
    display: flex;
    justify-content: center;
    margin: 0 auto 1.2rem;
    width: 50%;
  }
  .header__nav{
    justify-content: end;
    margin-right: 3%;
  }
  .header__auth-mobile{
    display: block;
    // position: absolute;
    // bottom: 3%;
    flex-wrap: wrap;
    display: flex;
    // left: 50%;
    // transform: translateX(-50%);
    width: 100%;
    margin: 2.4rem 0 1.2rem;
    .item{
      width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.6rem !important;
    }
  }
  #menu.header__nav-list .header__nav-item {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-size: 2.4rem;
  }

  .menubtn {
    display: block;
    font-size: 35px;
  }

  #menu.header__nav-list {
    width: 50%;
    background-color: #fff;
    position: absolute;
    top: 8rem;
    right: 2%;
    border-radius: 2.4rem;
    text-align: center;
    z-index: 9999;
    padding: 1.2rem 1.6rem;
    box-shadow: 3px 4px 24px 0px rgba(0, 0, 0, 0.12);
    height: max-content;
    @media (max-width: 576px) {
      width: 98%;
      right: 0;
      top: 9rem;
      
    }
  }

  // #menu.header__nav-list .header__nav-item:hover {
  //   filter: saturate(150%) drop-shadow(1px 1px 3rem red);
  //   text-shadow: 0px 0px 5rem;
  // }
}
