@import "../../../assets/sass/base";


.contact {
    margin-top: $header-height;
    padding: 8rem 0;
    height: 80rem;
    &__title {
        @include h-style("h2");
    }
    .remember{
        text-align: left;
    }
    &-btn{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.2rem 0;
        box-sizing: content-box;
    }
}