.transactions-table {
    // padding: 20px;
  
    .search-bar {
      margin-bottom: 16px;
    }
  
    .pagination {
      margin-top: 16px;
    }
  
    .ant-btn {
      margin-right: 8px;
    }
  
    .ant-modal-content {
      padding: 20px;
    }
  }
  